**Search values**
   - Return Column list
   - Return Column Name + Row Index

In [22]:
import pandas as pd
d = {'id': [1, 2, 3], 'col2': [3, 4, 5], 'col3': [8,3,9]}
df = pd.DataFrame(data=d)
df = df.set_index('id')
df

    col2  col3
id
1      3     8
2      4     3
3      5     9

In [38]:
df.isin([3]).any()

col2    True
col3    True
dtype: bool

In [39]:
df[df.isin([3])].stack().index.tolist()

[(1, 'col2'), (2, 'col3')]