# **Row Index Containing Specific Value**

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'feid': [2, 4, 8, 0],
                    'f42002': [2, 0, 0, 0],
                    'f42003': [10, 'I21', 1, 'J10']})

df = df.set_index('feid')
df

      f42002 f42003
feid
2          2     10
4          0    I21
8          0      1
0          0    J10

In [ ]:
mylist = ['I21', 'J10']

for i in mylist:
  print(df[(df['f42002']==i) | (df['f42003']==i)].index.values)

[4]
[0]

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)