**Search value in a column**

**Find index**

**Delete row**

In [ ]:
import pandas as pd

In [ ]:
list = ['a', 'b']
df = pd.DataFrame({'A':['a', 'b', 'c', 'd'], 'B':[9, 9, 8, 4]})
df

   A  B
0  a  9
1  b  9
2  c  8
3  d  4

In [ ]:
for i in list:
  ind = df[df['A']==i].index.tolist() 
  print(ind)
  df=df.drop(ind)
df

[0]
[1]

   A  B
2  c  8
3  d  4