# **Combine Single value and List in a Single DataFrame**

In [5]:
import pandas as pd

image_array = ['foo.jpg', 'bar.jpg', 'baz.jpg']
text_array = [['a','b','c', 'd', 'e'], ['f', 'g'], ['h','i', 'j', 'k']]


df=pd.DataFrame(image_array, columns=['Image'])
df = pd.concat([df, pd.Series(text_array, name='Text')], axis=1)
print(df)

     Image             Text
0  foo.jpg  [a, b, c, d, e]
1  bar.jpg           [f, g]
2  baz.jpg     [h, i, j, k]