# **Assign Values From Previous Column based on Conditions**

In [1]:
import pandas as pd
d = {'col_1': ['a', 'a', 'b','a', 'a', 'b','b', 'a', 'b']}
df = pd.DataFrame(data=d)
df

  col_1
0     a
1     a
2     b
3     a
4     a
5     b
6     b
7     a
8     b

**If col_1[i] value is 'a' then desired[i-1] should be. Same as col_1, otherwise**

In [2]:
df['desired']=df['col_1']
for i, e in enumerate(df['col_1']):
    if e=='a':
        df.at[i-1,'desired']=df.at[i,'col_1']
df = df[:(len(df)-1)]
df

  col_1 desired
0     a       a
1     a       a
2     b       a
3     a       a
4     a       a
5     b       b
6     b       a
7     a       a
8     b       b

Same condition but in case of true false

In [6]:
import pandas as pd
d = {'col_1': [True, True, False,True, True, False,False, True, False]}
df = pd.DataFrame(data=d)
df

   col_1
0   True
1   True
2  False
3   True
4   True
5  False
6  False
7   True
8  False

In [7]:
df['new'] = df.col_1 | df.col_1.shift(-1)
print (df)

   col_1    new
0   True   True
1   True   True
2  False   True
3   True   True
4   True   True
5  False  False
6  False   True
7   True   True
8  False  False