# **Pandas Series**
___
___

Library creator Wes McKinney

***Topics***

*   Series
*   NaN and None
*   Dictionary in Pandas
*   Accessing Pandas Series
    - iloc
    - loc
*   NP and Pandas Series together
*   iteritems

In [2]:
import pandas as pd

**Series**

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 10 , None]
pd.Series(animals)

0    Tiger
1       10
2     None
dtype: object

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

**NaN and None**

In [7]:
import numpy as np
np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

**Dictionary in Pandas**

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
print(s)
print(s.index)

# Another way
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
print(s)

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object
Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')
India      Tiger
America     Bear
Canada     Moose
dtype: object

subset of dictionary

In [13]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
print(s)

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

**Accessing Pandas Series**

iloc, loc

In [14]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
print(s)

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [15]:
print(s.iloc[3])
print(s.loc['Sumo'])
print(s[3])
print(s['Sumo'])

South Korea
Japan
South Korea
Japan

Be aware of the Integer index

In [17]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

# s[0] 
# This will be error
# iloc will work
print(s.iloc[0])

Bhutan

**NP and Pandas Series together**

In [20]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
print(s)

total = 0
for item in s:
    total+=item
print(total)

import numpy as np

total = np.sum(s)
print(total)

#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,10,5))
s.head()

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64
324.0
324.0

0    8
1    1
2    3
3    4
4    5
dtype: int64

In [21]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 71.4 µs per loop

In [22]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    10
1     3
2     5
3     6
4     7
dtype: int64

**iteritems**

In [25]:
for label, value in s.iteritems():
    s.loc[label]= value+2

print(s)

0    14
1     7
2     9
3    10
4    11
dtype: int64

In [26]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [28]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object